/*  your css code here. If applicable */
.container{
	background-color:lightgray;
	border: 5px solid black;
	border-radius: 40px;
	height:200px;
	width:500px;
	text-align:center;
	display:flex;
/* 	justify-content:center: */
	padding:30px;
	padding-bottom:10px;
}

.green{
	height:150px;
	width:150px;
	background-color:green;
	border-radius:50%;
	text-align:center;
}

.yellow{
	height:150px;
	width:150px;
	background-color:yellow;
	border-radius:50%;
	text-align:center;
}

.red{
	height:150px;
	width:150px;
	background-color:red;
	border-radius:50%;
	text-align:center;
}

